<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<div class="container">
    <div class="panel panel-info" >
        <div class="panel-heading">
            <div class="panel-title">Inscription</div>
        </div>
        <div style="padding-top:40px" class="panel-body" >

            <div style="display:none" id="login-alert" class="alert alert-danger col-sm-12"></div>

            <input [(ngModel)]= "registerForm.firstName" placeholder="firstName"><br>
            <input [(ngModel)]= "registerForm.lastName"  placeholder="lastName"><br>
            <input [(ngModel)]= "registerForm.username" placeholder="username"><br>
            <input [(ngModel)]= "registerForm.password" type="password" placeholder="password"><br>
            <input [(ngModel)]= "registerForm.email" placeholder="email"><br>
    <div class="form-group">

        <form [formGroup]="reactiveForm">
        <re-captcha
                (resolved)="resolved($event)"
                siteKey="6LcOuyYTAAAAAHTjFuqhA52fmfJ_j5iFk5PsfXaU"

                formControlName="recaptchaReactive">

        </re-captcha>
        <button [disabled]="reactiveForm.invalid" (click)="registerUser()" class="btn btn-primary">
            <span class="spinner-border spinner-border-sm mr-1"></span>
            Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
        </form>

    </div>

        </div>
    </div>
</div>
